# Flask and Web Server
Flask==3.0.0
flask-cors==4.0.0
Werkzeug==3.0.1
torch==2.5.1
ultralytics==8.3.0
opencv-python==4.10.0.84


# YOLOv8 and Computer Vision
torchvision== 0.20.1

# Image Processing
Pillow==10.1.0
numpy

# Optional: For better video processing
av==11.0.0

# Optional: For email notifications (if you implement)
python-dotenv==1.0.0
sendgrid==6.11.0

# Optional: For SMS notifications (if you implement)
twilio==8.10.0